/* .banner {
    margin: auto;
    top: 5%;
    width: 90%;
    height: 10%;
    background: #57c94d;
} */
* {
    background:#e1f1ff;
}

.unblocked-header{
    background-color:RGBA(73, 91, 157, 0.5);
    padding:5px;
}

.unblocked-header-fill{
    background-color:RGBA(73, 91, 157, 0.5);
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}