.navigate {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 60px;
    background-color:rgb(36, 35, 35);
    overflow: hidden;
    align-items:center;
    line-height:60px;
}

#logo {
    display:inline;
    width: 60px;
    height: auto;
    vertical-align:bottom;
    padding-left:-20px;
}

.navigate .text-link {
    color:greenyellow;
    text-decoration:none;
    font-style:normal;
    
}

.navigate nav {
    float:left;
}

.navigate i {
    
    padding-left:40px;
}

