/* Raleway (regular font): Light 300, Regular 400, SemiBold 600, Bold 700, Black 900 */
/* Source Code Pro (terminal font): Light 300, Regular 400, SemiBold 600, Bold 700, Black 900 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;900&family=Source+Code+Pro:wght@300;400;600;700;900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

/* .wasteland {
  background-image: url("./assets/wasteland.png");
}

.transition {
  background-image: url("./assets/wasteland-transition.png");
} */